@model IEnumerable<StudentCrudApp.COURS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoureseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoureseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoureseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoureseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoureseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoureseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoureseId })
        </td>
    </tr>
}

</table>
